.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 24px;
  height: 24px;
}

.large {
  width: 32px;
  height: 32px;
}

.icon path,
.icon circle,
.icon rect {
  fill: currentColor;
}

